.mainGame{
    
    .line{
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 40%;
        margin-top: 3.25em;
        height: .8em;
        background-color: rgba(77, 77, 77, 0.434);
    }
    .houseSelected{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: -20%;
        padding: 2em;
        width: 3em;
        height: 3em;
        border-radius: 8em;
        border: none;
        background-color: whitesmoke;
        img{
            width: 3em;
        }
    }
    
    
}
.mainGameFlexCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45vh;
    flex-wrap: wrap;
    

    .rockPaperScissor{
        margin: auto 5em;
        padding: 2em;
        width: 3em;
        height: 3em;
        border-radius: 8em;
        border: none;
        background-color: whitesmoke;
        position: relative;
        z-index: 2;
        img{
            width: 2.5em;   
        }
        #rockSVG{
            width: 2.75em;
            /* to compensate for the rockSVG smaller base smaller size */

        }   
    } 
}
