.userSelected, .houseSelected{
    
    img{
        margin: auto 5em;
        padding: 2em;
        width: 3em;
        height: 3em;
        border-radius: 8em;
        background-color: whitesmoke;      
        font-size: 1.75em; 
    }
            

}
.flexCont{
    display: flex;
    justify-content: center;
    
}